.nav-link {
  color: #ffffff; /* White text color */
  font-size: 16px;
  padding: 10px;
  transition: color 0.3s ease; /* Adding transition effect */
}

.nav-link:hover {
  color: aqua; 
}


.container-fluid {
  background-color: #343a40; 
}

.container {
  background-color: #343a40; 
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}

.navbar-brand:hover {
  color: aqua; 
}

.modal-body {
  background-color: black; 
  padding: 2rem;
}

.modal-content {
  background-color: #343a40; 
  color: white; 
}